:root {
  --tj-body: #dddddd;
  --tj-white: #ffffff;
  --tj-off-white: #f6f3fc;
  --tj-black: #000000;
  --tj-black-2: #050709;
  --tj-black3: #5c6266;
  --tj-black4: #585859;
  --tj-h3-black: #0b0410;
  --tj-heading-primary: #102039;
  --tj-heading-secondary: #ea1826;
  --tj-theme-primary: #8750f7;
  --tj-theme-primary-1: #2400ff;
  --tj-theme-primary-2: #9b8dff;
  --tj-theme-primary-3: #4654f9;
  --tj-theme-h3-primary-1: #814cec;
  --tj-theme-secondary: #2a1454;
  --tj-theme-accent-1: #0f0715;
  --tj-theme-accent-2: #140c1c;
  --tj-grey-1: #747779;
  --tj-grey-2: #d9d9d9;
  --tj-grey-3: #dddddd;
  --tj-grey-4: #22272c;
  --tj-grey-5: #636363;
  --tj-grey-6: #1b262e;
  --tj-bg: #0c1115;
  --tj-bg-2: #0e1418;
  --tj-bg-3: #10171c;
  --tj-bg-4: #151b1f;
  --tj-h3-bg: #15091d;
  --tj-border: #1b2227;
  --tj-border1: #2a343c;
}

*{
  scrollbar-color: var(--tj-theme-primary) var(--tj-theme-secondary);
}