.timeline-section{
    padding: 90px 15px; 
}

.timeline-section h2{
    margin-bottom: 80px; 
}

.timeline-items{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #2400ff;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #8750f7;
    box-shadow: 0 0 25px #2400ff;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 16px; 
    font-weight: 800;
    color: white;

    /* Light Mode */
    /* color: #000000; */
    margin: 9.6px 0 24px; 
}

.timeline-content{
    background-color: #2a1454;

    /* Light Mode */
    /* background-color: #9b8dff; */
    backdrop-filter: blur(20px);
    border: 2px solid #8750f7;
    box-shadow: 0 0 10px #2400ff;

    /* Light Mode */
    /* border: 2px solid #102039;
    box-shadow: 0 0 10px #4654f9; */
    padding: 15px; 
    border-radius: 16px; 
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #2400ff ;
}

.timeline-content h3{
    font-size: 16px; 
    color: #747779;

    /* Light Mode */
    /* color: #102039; */
    margin: 0 0 16px; 
    text-transform: capitalize;
    font-weight: 700;
}

.timeline-content p{
    color: white;

    /* Light Mode */
    /* color: #000000; */
    opacity: 0.8;
    font-size: 12px; 
    font-weight: 600;
    line-height: 22px; 
}


/* Tablet */
@media(width >= 748px){
    .timeline-date{
        font-size: 20px;
    }
    .timeline-content{
        padding: 30px;
    }
    .timeline-content h3{
        font-size: 20px;
    }
    
    .timeline-content p{
        font-size: 16px;
    }
}

/* Desktop */
@media(width >= 1110px){
}