.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 24px;
    padding-inline: 32px;
    /* border: 2px solid #102039;
    background: linear-gradient(to left, #102039, #0b0410 );*/
    /* border-radius: 50px;  */
    background: radial-gradient(circle, rgba(36, 0, 255, 1) -100%, transparent 70%);
}

.my-blog-profession{
    background: linear-gradient(to right, #814cec, #ffffff );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 38px;
    font-weight: 800;
}

.my-blog-name{
    font-size: 32px;
    font-weight: 700;
}

.my-blog-description{
    color: #d9d9d9;
}

.img-container{
    width: 100%;
    max-width: 437px;
    height: auto;
    overflow: hidden;
    border: 2px solid #2a1454;
    border-radius: 24px;
    transition: all 0.3s ease;
    transform: rotate(5deg);
    margin: 32px 0;
}

.omer-esim-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.img-container:hover, .omer-esim-:hover{
    transform: rotate(0);
    backface-visibility: hidden;
    border: 2px solid #4654f9;
}

.desktop-hidden{display: none;}
.desktop-visible{display: block;}

.cta {
    top: 30px;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #8750f7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #f6f3fc;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #f6f3fc;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: linear-gradient(to right, #8750f7, #102039);;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* Tablet */
@media(width >= 748px){
    .my-blog-name{
        font-size: 48px;
    }
    .my-blog-profession{
        font-size: 58px;
    }

    .img-container{
        margin-top: 50px;
    }
    .desktop-hidden{display: block;}
    .desktop-visible{display: none;}

}

/* Desktop */
@media(width >= 1110px){
    .home{
        flex-direction: row;
        justify-content: space-between;
        background: radial-gradient(circle, rgba(36, 0, 255, 1) -100%, transparent 50%);
    }

    .img-container{
        width: 100%;
        max-width: 500px;
        overflow: hidden;
    }

}